@use "../core/" as *;
@use "../components/" as *;

body {
  background: black;
}

.HeaderOne {
  color: red;
  text-align: center;
  font-size: 3em;
}
.HeaderTwo {
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 5em;
}
